.header {
  position: fixed;
  min-width: 29rem;
  top: 0px;
  left: 0px;
  width: 30rem;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#navbar {
  font-size: 1.8rem;
}

#navbar header h1 {
  margin: 3rem 0 0 3rem;
  
}

#navbar header {
  border-bottom: 1px solid black;
}

ul .li {
  border-bottom: 1px solid black;
}

ul .li a {
  display: block;
  margin-top: 4rem;

}

.container {
  margin-top: 3rem;
  position: absolute;
  left: 33.4rem;
}

.main {
  font-size: 3rem;
}

p {
  margin: 1rem 0 1rem 0;
  font-size: 1.8rem;
}

.ul li {
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

code {
  font-size: 1.3rem;
}








































@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}
